.parentSection {
    display: flex;
    gap: 2rem;
}
.parentSectionContentSwitcher {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media (max-width:907px){
    .parentSection {
        flex-direction: column;
    }
    .parentSectionContentSwitcher {
        width: 100%;
    }
}